.logo-mini-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  line-height: 1.5em;
  align-items: flex-end;
  cursor: pointer;
  .logo-mini-h1 {
    color: #FFF;
    padding: 10px 0 0 0;
    margin: 0;
    font-size: 30px;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.20);
    transition: 0.3s;
  }
  .logo-mini-p {
    color: #EA4C88;
    padding: 0;
    margin: 0;
    font-size: 18px;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.20);
    transition: 0.3s;
  }
  &:hover {
    .logo-mini-h1 {
      color: #DBDBD8;
      transition: 0.3s;
    }
    .logo-mini-p {
      color: #E93A7D;
      transition: 0.3s;
    }
  }
}
